[submodule "EIN103B-PROYECTO-DE-SOFTWARE-BACK"]
	path = EIN103B-PROYECTO-DE-SOFTWARE-BACK
	url = https://github.com/dinosaurio5000/EIN103B-PROYECTO-DE-SOFTWARE-BACK
[submodule "EIN103B-PROYECTO-DE-SOFTWARE-FRONT"]
	path = EIN103B-PROYECTO-DE-SOFTWARE-FRONT
	url = https://github.com/dinosaurio5000/EIN103B-PROYECTO-DE-SOFTWARE-FRONT
